.search {
   &__form {
      width: 515px;

      @media screen and (max-width: 960px) {
         width: 340px;
      }

      @media screen and (max-width: 560px) {
         width: 240px;
      }

      @media screen and (max-width: 400px) {
         width: 195px;
      }

      input {
         width: 100%;
         border: 2px solid $black;
         border-radius: 8px;
         padding: 16px 16px 16px 46px;
         outline:none;
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         color: $black;

         @media screen and (max-width: 400px) {
            padding: 12px 12px 12px 32px;
            font-size: 15px;
         }

         &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $black;
            opacity: 0.3;

            @media screen and (max-width: 400px) {
               font-size: 15px;
            }
         }
      } 
   }
   
   &__input-wrapper {
      position: relative;

      &::before {
         content: "";
         position: absolute;
         width: 18px;
         height: 18px;
         top: 18px;
         left: 20px;
         background-image: url('./../../assets/images/header/search.png');
         background-size: cover;

         @media screen and (max-width: 400px) {
            width: 16px;
            height: 16px;
            top: 15px;
            left: 12px;
         }
      }
   }
}